<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDRwsroqNKgvPSxcyhN_I3RhglHbtUgCPs</string>
	<key>GCM_SENDER_ID</key>
	<string>865398560059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterEcomFirebase</string>
	<key>PROJECT_ID</key>
	<string>flutterecomapp-4670c</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterecomapp-4670c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:865398560059:ios:8a75b89778949afe15131e</string>
</dict>
</plist>